{% extends "base.html" %}
{% block title %}M-Sahihi{% endblock %}

{% block nav %}
<div class='container'>
{% if uin %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('transactions_list')}}" tabindex="-1" >See Transactions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('logout')}}" tabindex="-1" >Logout</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('login')}}" tabindex="-1" >Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('register')}}" tabindex="-1" >Register</a>
  </li>
  {% endif %}
</div>
{% endblock %}
{% block content %}
<h2>Add Transaction</h2>
<div class='container'>
    <form method='POST' action='/dashboard'>
        {% if form %}
        {{ form.hidden_tag() }}
        <div class="col align-self-center">
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.national_id.label(class="form-control-label") }}
                    {% if form.national_id.errors %}
                    {{ form.national_id(class="form-control form-control-sm is-invalid") }}
                    <div class='invalid-feedback'>
                        {% for error in form.national_id.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.national_id(placeholder="National ID", class="form-control form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.txn_type.label(class="form-control-label") }}
                    {% if form.txn_type.errors %}
                    {{ form.txn_type(class="form-control form-control-sm is-invalid") }}
                    <div class='invalid-feedback'>
                        {% for error in form.txn_type.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.txn_type(placeholder="txn_type", class="form-control
                    form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.value.label(class="form-control-label") }}
                    {% if form.value.errors %}
                    {{ form.value(class="form-control form-control-sm is-invalid") }}
                    <div class='invalid-feedback'>
                        {% for error in form.value.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.value(placeholder="Value", class="form-control
                    form-control-sm") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.txn_id.label(class="form-control-label") }}
                    {% if form.txn_id.errors %}
                    {{ form.txn_id(class="form-control form-control-sm is-invalid") }}
                    <div class='invalid-feedback'>
                        {% for error in form.txn_id.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.txn_id(placeholder="txn_id", class="form-control
                    form-control-sm") }}
                    {% endif %}
                </div>
                
                <div class="form-group text-center">
                    <!--{{ form.submit.label(class="form-control") }}-->
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}
