{% extends "base.html" %}
{% block title %}M-Sahihi{% endblock %}

{% block nav %}
<div class='container'>
{% if uin %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('logout')}}" tabindex="-1" >Logout</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('login')}}" tabindex="-1" >Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('register')}}" tabindex="-1" >Register</a>
  </li>
  {% endif %}
</div>
{% endblock %}
{% block content %}
<h2>To add a Transaction: </h2>
<div class='container'>
    <p>1. Check your email inbox for request to sign</p>
    <p>2. Fill the form first with all the customer's required fields.</p>
    <p>3. Allow the customer to sign on the signature's field.</p>
    <p><a href="{{ url_for('index') }}">Done</a></p>
</div>
{% endblock %}
