{% extends "base.html" %}
{% block title %}MobileTr{% endblock %}

{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('dashboard')}}" tabindex="-1" >Add Transaction</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('index')}}" tabindex="-1" >Home</a>
  </li>
{% endblock %}
{% block content %}
<h2>Transactions</h2>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
<!-- {% for tran in trans %}
<li>
    {{ tran["id"] }}<t>h</b>
</li>
{% endfor %} -->
<table>
    <tr>
        <th>No.</th>
        <th>National ID</th>
        <th>Transaction Type</th>
        <th>Value</th>
        <th>Transaction ID</th>
    </tr>
    {% for tran in trans %}
    <tr>
        
        <td>{{ tran["id"] }}</td>
        <td>{{ tran["national_id"] }}</td>
        <td>{{ tran["txn_type"] }}</td>
        <td>{{ tran["value"] }}</td>
        <td>{{ tran["txn_id"] }}</td>
        
    </tr>
    {% endfor %}
</table>

{% endblock %}
